<% img_path = "/images/" %>
<% secret_img = ""%>
<% if secret_mode == "true" %>
    <% img_path = "/images/shh/" %>
    <% secret_img = ", url(/images/shh/button.png) top left/cover no-repeat"%>
    <% secret_base = "url(/images/shh/button.png) top left/cover no-repeat" %>
    <script>
        document.body.style = "background: black url(/images/shh/SeaShrine.gif) repeat-x;";
    </script>
<%end%>
    <div id="game_board">
        <% (0..game_inst.size-1).each do |y| %>
            <% (0..game_inst.size-1).each do |x| %>
                <% bg_img = "" %>
                <% bg_div = ""%>
                <% bg_div_end = ""%>
                <% if secret_mode == "true" %>
                    <% bg_img = "style = 'background: url(/images/shh/button.png) top left/cover no-repeat'" %>
                <% end %>
                <% if game_inst.get_tile(x, y) == "X" %>
                    <% bg_img = " style='background: url(#{img_path}pirate.png) no-repeat center/contain#{secret_img};'" %>
                    <% if victor == "Pirates!" %>
                        <% bg_div = "<div style='background-color:rgb(129, 49, 49);display:inline-block'>"%>
                        <% bg_div_end = "</div>"%>
                    <% end %>
                <% elsif game_inst.get_tile(x, y) == "O" %>
                    <% bg_img = " style='background: url(#{img_path}ninja.png) no-repeat center/contain#{secret_img};'" %>
                    <% if victor == "Ninjas!" %>
                        <% bg_div = "<div style='background-color:rgb(44, 44, 172);display:inline-block'>"%>
                        <% bg_div_end = "</div>"%>
                    <% end %>
                <% end %>
                <%p bg_div %>
                
                <%= bg_div %>
                    <button name="tile_clicked" id="<%=x%>_<%=y%>" value="<%=x%>_<%=y%>" class="tile_btn" <%= bg_img %>>&nbsp;
                    </button>
                <%= bg_div_end %>
            <% end %>
            <br>
        <% end %>
    </div>
<% if secret_mode == "true" %>
    <% if victor != "Draw" %>
        <audio id="victorySong">
            <source src="/mp3/victory.mp3" type="audio/mpeg">
        </audio>
        <script>
            var song = document.getElementById("victorySong");
            song.volume = 0.15;
            song.play();
        </script>
        <% if victor == "Ninjas!" %>
            <% victor = "Black Mage!" %>
        <% elsif victor == "Pirates!" %>
            <% victor = "Red Mage!" %>
        <% end %>
    <% end %>
<% end %>
Game Winner: <%= victor %><br><br>

<br><form action="/reset_game" method="post"><input type="hidden" value="<%=game_inst.size%>" name="board_size"><button class="tile_btn" style="width:7rem;height:3rem">Play Again</button></form>
<form action="/" method="get"><button class="tile_btn" style="width:7rem;height:3rem">New Game</button></form>
<font size=2rem>
Game Log:<br>
<%=game_log%></font>