
    <div id="game_board">
        <% (0..game_inst.height-1).each do |y| %>
            <% (0..game_inst.width-1).each do |x| %>
                <% bg_img = "" %>
                <% if game_inst.get_tile(x, y) == "X" %>
                    <% bg_img = " style='background: green url(/images/pirate.png) no-repeat center;background-size:95%;'" %>
                <% elsif game_inst.get_tile(x, y) == "O" %>
                    <% bg_img = " style='background: green url(/images/ninja.png) no-repeat center;background-size:95%;'" %>
                <% end %>
                <button name="tile_clicked" id="<%=x%>_<%=y%>" value="<%=x%>_<%=y%>" class="tile_btn" <%= bg_img %>>&nbsp;
                </button>
            <% end %>
            <br>
        <% end %>
    </div>

Game Winner: <%= victor %><br>
<br><form action="/" method="get"><button class="tile_btn" style="width:7rem;height:3rem">Play Again</button>