<% if player_turn == true %>
    <form action="turn" method="post">
<% end %>
<% img_path = "/images/" %>
<% secret_img = ""%>
<% if game_inst.size > 9 %>
    <style>
        .tile_btn {
            width: 3rem;
            height: 3rem;
        }
    </style>
<% end %>
<% if secret_mode == "true" %>
    <% img_path = "/images/shh/" %>
    <% secret_img = ", url(/images/shh/button.png) top left/cover no-repeat"%>
    <% secret_base = "url(/images/shh/button.png) top left/cover no-repeat" %>
    <script>
        document.body.style = "background: black url(/images/shh/SeaShrine.gif) repeat-x;";
    </script>
<%end%>
    <div id="game_board">
        <% (0..game_inst.size-1).each do |y| %>
            <% (0..game_inst.size-1).each do |x| %>
                <% bg_img = "" %>
                <% if secret_mode == "true" %>
                    <% bg_img = "style = 'background: url(/images/shh/button.png) top left/cover no-repeat'" %>
                <% end %>
                <% if game_inst.get_tile(x, y) == "X" %>
                    <% bg_img = " style='background: url(#{img_path}pirate.png) no-repeat center/contain#{secret_img};'" %>
                <% elsif game_inst.get_tile(x, y) == "O" %>
                    <% bg_img = " style='background: url(#{img_path}ninja.png) no-repeat center/contain#{secret_img};'" %>
                <% end %>
                <button name="tile_clicked" id="<%=x%>_<%=y%>" value="<%=x%>_<%=y%>" class="tile_btn" <%= bg_img %>>&nbsp;
                </button>
            <% end %>
            <br>
        <% end %>
    </div>
    <% if player_turn == false %>
        <form action="turn" method="post">
        <br><button class="next-btn" name="next" value="next">Next</button>
    <% end %>
</form>
